.carousel {
	position: relative;
	width: 100%;
	.slides {
		position: relative;
		display: flex;
		justify-content: flex-start;
		overflow: hidden;
		width: 100%;
		align-items: center;
		img {
			width: 100%;
		}
		.slideContent {
			z-index: 100;
			position: absolute;
			width: 60%;
			transform: translateY(-50%);
			right: 3rem;
			top: 40%;
			text-align: right;
			padding: 1rem;
			color: var(--primary-black);

			h1 {
				text-transform: capitalize;
				font-size: 3rem;
			}
			p {
				font-size: 1.3rem;
			}
		}
	}

	> button {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
	}
	.dots {
		position: absolute;
		padding: 1rem;
		bottom: 0;
		transform: translateX(-50%);
		left: 50%;
		align-self: flex-end;
		> button {
			border-radius: 50%;
			width: 1rem;
			height: 1rem;
			background: var(--primary-white);
			border: 1px solid var(--primary-white);
			margin: 0.5rem;
			cursor: pointer;
		}
		.active {
			background: var(--primary-grey);
		}
	}
}
