.footerContainer {
  background-color: var(--primary-black);
  padding: 2rem 10%;
}

.contentContainer {
  color: var(--primary-white);

  .brandBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: #f7f7f743;
    border-radius: 0.5rem;
    text-align: center;

    .logo {
      height: 6rem;
      width: 6rem;
      padding: 4px;
      background-color: #fefe3e;
      border-radius: 50%;
      background: conic-gradient(
        hsl(360, 100%, 50%),
        hsl(315, 100%, 50%),
        hsl(270, 100%, 50%),
        hsl(225, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(135, 100%, 50%),
        hsl(90, 100%, 50%),
        hsl(45, 100%, 50%),
        hsl(0, 100%, 50%)
      );
      animation: clockWise var(--logo-rotation-speed) linear infinite;

      img {
        background-color: #fff;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        animation: antiClockWise var(--logo-rotation-speed) linear infinite;
      }

      @keyframes clockWise {
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes antiClockWise {
        100% {
          transform: rotate(-360deg);
        }
      }
    }
    p {
      padding: 0 1rem;
      font-size: 1.3rem;
    }
    h2 {
      font-size: 2rem;
    }
    .socialLinks {
      img {
        height: 2rem;
        width: 2rem;
        margin: 0.5rem;
      }
    }
  }

  .contactBox {
    background-color: #f7f7f743;
    border-radius: 0.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    svg {
      font-size: 3rem;
    }
    > span {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.5rem;
      text-align: left;
      padding: 0 1rem;
    }
  }

  .linkBox {
    padding: 0 1rem;

    h1 {
      border-bottom: 1px solid var(--primary-whitesmoke);
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 10px 0;

      li {
        width: 50%;
        list-style: none;
        font-size: 1.4rem;
        justify-content: flex-start;
      }
    }
  }
  .subscribeBox {
    padding: 0 1rem;

    h1 {
      border-bottom: 1px solid var(--primary-whitesmoke);
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.4rem;
      margin: 10px 0;
    }
    > div {
      display: flex;
      justify-content: flex-start;
      font-size: 1.3rem;
      align-items: stretch;
      input {
        flex: 1;
        border: none;
        border-radius: 20px 0 0 20px;
        padding: 0 1rem;
        background-color: var(--primary-white);
        &:focus {
          outline: none;
        }
      }
      button {
        border: none;
        border-radius: 0 20px 20px 0;
        background-color: var(--primary-white);
      }
    }
  }
}
.copyRightContainer {
  background-color: rgb(32, 32, 32);
  color: #fff;
  text-align: center;
  padding: 1rem;
  > span {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 600px) {
  .footerContainer {
    padding: 1rem 5%;
  }
  .contentContainer {
    .brandBox {
      p {
        margin: 5px 0;
        font-size: 16px;
      }
    }
    .contactBox {
      padding: 5px;
      > svg {
        font-size: 2rem;
      }
      > span {
        padding: 0 10px;
        font-size: 16px;
      }
    }
    .linkBox {
      ul > li {
        font-size: 1.2rem;
      }
    }
    .subscribeBox {
      margin-top: 20px;
    }
  }
}
