.sectionHeading {
	font-size: 48px;
	text-align: center;
	margin: 20px 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.carouselContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.categoryContainer {
	margin: 1.5rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.cardBody {
	position: relative;
	border: none;
	overflow: hidden;
	padding: 0;
	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		transition: all ease 0.4s;
	}
	span {
		position: absolute;
		text-transform: capitalize;
		width: 100%;
		background-color: #0000005f;
		padding: 5px 0;
		color: var(--primary-white);
		left: 0;
		bottom: 10%;
		font-size: 24px;
	}
	&:hover {
		img {
			transform: scale(1.5);
		}
	}
}

.popularProductContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

@media only screen and (max-width: 600px) {
	.categoryContainer {
		grid-template-columns: 1fr 1fr;
	}
	.cardBody {
		span {
			font-size: 18px;
		}
	}
	.popularProductContainer {
		grid-template-columns: 1fr 1fr;
	}
	.categoryContainer {
		span {
			font-size: 12px;
		}
	}
}
